
@{
    ViewBag.Title = "PotwierdzenieZamowienia";
    Layout = "~/Views/Shared/_RightSectionLayout.cshtml";
}

<h2>PotwierdzenieZamowienia</h2>

@section SectionTitle
{
    Potwierdzenie Zamówienia    
}

<div style="margin-top: 100px; text-align: center">
    Dziękujemy! Twoje zamówienie zostało wysłane!
</div>