@model IEnumerable<RolnikowePole.Models.Gatunek>
@using RolnikowePole.Infrastucture

<div class="col-lg-3" style="padding-bottom: 30px;">
    <div class="list-group">
        @foreach (var gatunki in Model)
        {
            <a href="@Url.Action("Lista","Zwierzeta", new { nazwaGatunku = gatunki.NazwaGatunku.ToLower() })" class="list-group-item " style="background-image: url(@Url.IkonyGatunkowSciezka(gatunki.NazwaPlikuIkony)); text-align: center;">
                @gatunki.NazwaGatunku
            </a>
        }
    </div>
</div>
