@model IEnumerable<RolnikowePole.Models.Gatunek>
@using RolnikowePole.Infrastucture

<nav class="KategorieVertical">
    <ul>
        @foreach (var gatunek in Model)
        {
            <li>
                <a href="@Url.Action("Lista","Zwierzeta", new { nazwaGatunku = gatunek.NazwaGatunku.ToString() })" style="background-image: url(@Url.IkonyGatunkowSciezka(gatunek.NazwaPlikuIkony)); ">
                   @gatunek.NazwaGatunku
                </a>
            </li>
        }
    </ul>
</nav>

