
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>W przypadku problemów zwiazanych ze stroną proszę wysłać maila: </h2>

@using ( Ajax.BeginForm("Contact", "Home", new AjaxOptions {
    
    Confirm = "Potwierdź wysłanie wiadmości",
    OnSuccess = "alert('Pomyślnie wysłano wiadmość!')"
}))
{
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Twój adres e-mail</label>
            <input name="Email" type="email" class="form-control" placeholder="Email">
        </div>
        <div class="form-group col-md-6">
            <label>Temat</label>
            <input name="Temat" type="text" class="form-control" placeholder="Temat">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Imię</label>
            <input name="Imie" type="text" class="form-control">
        </div>
        <div class="form-group col-md-6">
            <label>Nazwisko</label>
            <input name="Nazwisko" type="text" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label>Treść</label>
        <textarea name="Tresc" class="form-control"  rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Wyślij</button>
}



